numpy;
pandas;
matplotlib;
Keras;
tensorflow;
h5py;
protobuf;
jupyter;
jupyter_client;
jupyter-console;
jupyter_core;
jupyterlab-widgets;
scikit-learn;
seaborn;
ipython;
ipython-genutils;
ipykernel;
nbconvert;
Flask;
PyMySQL;
